@using JForums.SharedModels
@model JForums.Models.Forums.ForumIndex

<h2>Forums</h2>
<table class ="table table-hover" id="forumIndexTable">
    <tbody>
    foreach(var in forum in Model.ForumList)
    {
        <tr>
        <td>
            <a asp-controller="Forum" asp-action="Topic" asp-route-id="@forums.Id">>@forums.Name</a>
        </td>
        
            <td>
                @Forums.Description
            </td>
        </tr>
    }
    </tbody>
</table>
